body {
	font-family: cordova, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.6;
	background-color: white;
	padding: 20px;		
	color: #333;
	
	/*scrollbar-base-color: #C0C0C0;
	scrollbar-base-color: #C0C0C0;
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-highlight-color: #C0C0C0;
	scrollbar-track-color: #EBEBEB;
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: #C0C0C0;*/
}

body, body * {
	background-color: white !important;
	color: black;
}

pre {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	margin-bottom: -1.25em !important;
}

pre div {
	padding: 10px;
	background-color: #eee !important;
	border-radius: 2px;
	overflow: auto;
}

pre code * {
	color: black !important;
	background-color: #eee !important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0 10px;
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	cursor: text;
	position: relative;
	padding-top: 0.75em;
}

h2:first-child, h1:first-child, h1:first-child + h2, 
h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
	padding-top: 0;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, 
h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
	text-decoration: none;
}

h1 tt, h1 code {
	font-size: inherit;
}

h2 tt, h2 code {
	font-size: inherit;
}

h3 tt, h3 code {
	font-size: inherit;
}

h4 tt, h4 code {
	font-size: inherit;
}

h5 tt, h5 code {
	font-size: inherit;
}

h6 tt, h6 code {
	font-size: inherit;
}

h1 {
	font-size: 28px;
	color: black;
}

h2 {
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
	color: black;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	color: #777777;
	font-size: 14px;
	padding-top: 0.25em;	
}

p, blockquote, ul, ol, dl, table, pre {
	margin: 10px 0;
}		

a {
	color: #4183C4;
	text-decoration: none;
}

a.absent {
	color: #cc0000;
}

a.anchor {
	display: block;
	padding-left: 30px;
	margin-left: -30px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}	
	
::-webkit-scrollbar-track {
	background-color: #eee !important;
	padding: 0;
}
 
::-webkit-scrollbar-thumb {
	background-color: #ccc !important;
	padding: 0;
}